{minimum_otp_vsn, "27"}.

{project_plugins, [
    {erlfmt, "1.7.0"},
    rebar3_ex_doc
]}.

{erlfmt, [write]}.

{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{pre_hooks, [
    {compile, "cargo build --release"},
    {compile, "sh -c \"cp $(cat so-path) priv/libfjall-native.so\""}
]}.

{post_hooks, [
    {clean, "cargo clean"}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{dialyzer, [
    {warnings, [
        unknown,
        unmatched_returns,
        error_handling
    ]},
    {plt_apps, top_level_deps}
]}.

{ex_doc, [
    {extras, ["README.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/JayKickliter/fjall-erl"}
]}.
